body {
    font-family: 'Avenir', sans-serif; /* Replace with your preferred font */
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 0;
}

h2 {
    color: #0156b0; /* Accent color for section headings */
}

section {
    margin-bottom: 20px;
    margin: 20px;
}

img {
    max-width: 150px; /* Adjust the maximum width of the images as needed */
    height: auto;
    border-radius: 5px; /* Optional: Add a border-radius to the images for a rounded look */
}

.flex-container {
    display: flex;
    align-items: center;
}

.content {
    margin-left: 20px; /* Adjust the margin between the image and content */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

#resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0156b0; /* Green color, you can change this to your preferred color */
    color: #fff; /* Text color */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

.download-button:hover {
    background-color: #02254b; /* Darker green color for hover effect */
}

/*---------------NAV------------------*/

header {
    background-color: #0156b0; /* Blue background color */
    padding: 0;
    margin: 0;

}
nav {
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 20px;
    padding: 0;
    display: inline-block
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff; /* White text color */
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #02254b; /* Darker blue on hover */
}

